# ESP-IDF local build outputs
/build/

# ESP-IDF generated local configuration
/sdkconfig
/sdkconfig.old

# ESP-IDF managed component download cache
/managed_components/

# Host-specific cruft
.DS_Store
